@model Portfolio.Models.Contact

@{
    Layout = null;
}
<!DOCTYPE html>

<head>
    <title>Contact Page</title>
</head>
<div class="contact-entire">
<header>
    <div class="contactheader">
    <h1>Forrest's Page</h1>
    <img src="http://images6.alphacoders.com/316/316963.jpg" width="1575" height="180" float="center" />
    <nav>
        &nbsp;||&nbsp;
        <a href="@Url.Action("Index", "Home")">Home</a>
        &nbsp;||&nbsp;
        <a href="@Url.Action("Index", "About")">About</a>
        &nbsp;||&nbsp;
        <a href="@Url.Action("Index", "Work")">Work</a>
        &nbsp;||&nbsp;
        <a href="@Url.Action("Index", "Contact")">Contact</a>
        &nbsp;||&nbsp;
        <a href="@Url.Action("Index", "Careers")">Careers</a>
            &nbsp;||&nbsp;
    </nav>
    </div>
</header>
<body>
<div class="contactform">
<h2>Contact Form</h2>
<form action="@Url.Action("Index", "Contact")" method="post">
    
    <div>

        @Html.LabelFor(x => x.FirstName)
        @Html.TextAreaFor(x => x.FirstName)
        @Html.ValidationMessageFor(x => x.FirstName)
    </div>

    <div>
        @Html.LabelFor(x => x.LastName)
        @Html.TextAreaFor(x => x.LastName)
        @Html.ValidationMessageFor(x => x.LastName)
    </div>

    <div>
        @Html.LabelFor(x => x.EmailAddress)
        @Html.TextAreaFor(x => x.EmailAddress)
        @Html.ValidationMessageFor(x => x.EmailAddress)
    </div>

    <div>
        @Html.LabelFor(x => x.ContactNumber)
        @Html.TextAreaFor(x => x.ContactNumber)
        @Html.ValidationMessageFor(x => x.ContactNumber)
    </div>

    <div>
        @Html.LabelFor(x => x.Comment)
        @Html.TextAreaFor(x => x.Comment)
        @Html.ValidationMessageFor(x => x.Comment)
    </div>
    </div>
    <input type="submit" value="Submit" />
</form>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
</body>
<footer>
    <div class="footer">
    <p>Copyright 2014 Forrest Brink</p>
    <nav>
        &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Home")">Home</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "About")">About</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Work")">Work</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Contact")">Contact</a>
            &nbsp;||&nbsp;
         <a href="@Url.Action("Index", "Careers")">Careers</a>
            &nbsp;||&nbsp;
    </nav>
    </div>
    
</footer>
</html>
    </div>