<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <header>
        <div class="header">
        <h1>Forrest's Page</h1>
        <nav>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Home")">Home</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("About", "About")">About</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Work", "Work")">Work</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Contact")">Contact</a>
            &nbsp;||&nbsp;
        </nav>
        </div>
    </header>
<body>    
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
<footer>
    <div class="footer">
    <p>Copyright 2014 Forrest Brink</p>
    <nav>
        &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Home")">Home</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("About", "About")">About</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Work", "Work")">Work</a>
            &nbsp;||&nbsp;
            <a href="@Url.Action("Index", "Contact")">Contact</a>
            &nbsp;||&nbsp;
    </nav>
    </div>
</footer>
</html>